.App {
  padding-left: 25px;
  background-color: gray;
}
.navigation {
  background-color: gray;
  text-align: center;
  /* display: inline-block; */
}

.linkStyles {
  border-top: 10px;
  padding-bottom: 10px;
  padding: 10px;
  color: black;
}

.search{
  float: right;
  padding-right: 45px;
}

.searchbar {
  width: 500px;

}
button {
  background-color: gray;
}

.additional {
  float: right;
  padding-right: 45px;
  width: 350px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}