.showpage, .home, .library, .form {
 padding-left: 35px;  
 padding-right: 35px;
 padding-top: 15px;
 padding-bottom: 25px;
}

.navigation {
  background-image: url("https://cdn.pixabay.com/photo/2016/09/10/17/18/book-1659717__480.jpg");
  text-align: left;
  padding: 8px;
  padding-left: 50px;
  padding-right: 50px;
  color: black;
  text-shadow: gray;
}

.linkStyles, .title {
  border-top: 10px;
  padding-bottom: 10px;
  padding: 10px;
  color: linen;
  font-weight: 650;
  background-color: rgba(77, 65, 65, 0.9);
  border-radius: 8px;
}

.genre {
  color: black;
  border-style: none;
  border-bottom: black;
}

.title {
  width: 550px;
  background-color: rgba(77, 65, 65, 0.7);
}

.searchbar {
  width: 450px;
  border-color: black;
}
button {
  background-color: linen;
  border-color: darkslategray;
}

.on {
  color: #000;
}
.off {
  color: #ccc;
}

.deleteButton {
  background-color: white;
  border-color: linen;
}

.logoutButton {
  float: right;
  color: linen;
  font-weight: 450;
  background-color: rgba(77, 65, 65, 0.9);
  border-radius: 4px;
  border-color: rgba(77, 65, 65, 0.9);
}

.additionalContainer {
  background-color: linen;
  float: right;
  padding: 15px;
  padding-right: 25px;
  padding-bottom: 5%;
  width: 40%;
  border-radius: 2%;
}

.favorite {
  max-width: 600px;
  font-style: italic;
  color: darkslategray;
  font-weight: 350;
  padding-left: 15px;
}

ul {
  padding-left: 15px;
  font-style: italic;
  color: darkslategray;
  font-weight: 150;
}

.unauthroized {
  background-color: wheat;
  padding: 35px;
  padding-bottom: 100px;
}

.App-link {
  color: #61dafb;
}
